/* ================================================= */
/* Custom properties */
/* ================================================= */
:root {
  --page-bg: #fff;
  --primary-text: #3c3a47;
  --muted-text: #b1b0b5;
  --logo-fill: var(--primary-text);
  --input-bg: #f5f5f6;
  --input-bg-hover: #ecebed;
  --input-border-focus: var(--muted-text);
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);
  --button-text: #d19361;
  --button-text-hover: #faf4ef;
  --switch-bg: #f5f5f6;
  --switch-circle: #fff;
  --primary-color: #f1b94d;
  --secondary-color: #373637;
  --tertiary-color: #ffffff;
  --font-family: "Roboto", sans-serif;
}

/* ================================================= */
/* General styles */
/* ================================================= */

.logo {
  position: absolute;
  width: 250px;
}

/* ================================================= */
/*Nav Style */
/* ================================================= */

.nav {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the nav-bar */
.nav-bar {
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #f1b94d;
}

/* Style for the nav-bar-menu */
.nav-bar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-bar-menu li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease; /* Smooth color transition on hover */
  margin-right: 10px;
}

.nav-bar-menu li a:hover {
  color: black;
}

/* ================================================= */
/*Page1*/
/* ================================================= */
.land {
  display: flex;
  flex-direction: row;
}
.Landing-Page {
  display: flex;
  flex-direction: column;
  margin-top: 280px;
  margin-left: 300px;
  margin-bottom: 350px;
}
.buy-trade {
  color: #373637;
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  font-style: normal;
  padding: 0px;
  margin: 0;
}
.cryptocurrencies {
  color: #373637;
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  padding: 0;
  margin: 0;
}
.trade-anyway {
  color: #373637;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-weight: lighter;
}
.phone {
  display: flex;
  width: 278px;
  height: 579px;
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: 100px;
}
.start_trading-btn {
  font-size: 23px;
  font-weight: 700;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  flex-shrink: 0;
  background: var(--gold, #f1b94d);
  margin-top: 15px;
}

/* ================================================= */
/*Page2*/
/* ================================================= */
.crypto-exchange {
  display: flex;
  flex-direction: row;
  background: #f1b94d;
}
.crypto-exchange-text {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 300px;
}
.crypto-exchange-text h1 {
  color: #373637;
  font-family: "Arial";
  font-size: 36px;

  line-height: normal;
}
.crypto-exchange-text p {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: var(--secondary-color);
  margin-right: 10px;
  margin: 2px;
}
/* ================================================= */
/*Page3*/
/* ================================================= */
.Why-Choose-Us {
  margin: 0;
}
#Portfolio-text {
  color: #373637;
  font-family: "Arial";
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 70px;

  text-align: center;
}
.row {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 300px;
  align-items: center;
}
.why {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.column h3 {
  color: #373637;
  font-family: Arial;

  font-size: 26px;
  margin: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column p {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
/* ================================================= */
/*Footer*/
/* ================================================= */
.footer-content ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

.footer-section-links li {
  display: inline-block;
}

.footer-section-links li a {
  justify-content: space-between;
  text-decoration: none;
  color: var(--secondary-color);
  margin-right: 10px;
  align-items: center;
  font-family: Arial;
}

.footer-bottom {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* ================================================= */
/*Buttons*/
/* ================================================= */

.Login-button {
  width: 174px;

  border-radius: 30px;
  flex-shrink: 0;
  background: var(--gold, #f1b94d);
}

.Login-button-Home {
  font-weight: 700;
  border-radius: 30px;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--tertiary-color);
  background-color: #f1b94d;
  cursor: pointer;
  margin-left: 10px; /* Adjusted spacing */
  align-items: right;
}

.Register-button-Home {
  font-weight: 700;
  border-radius: 30px;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: #f1b94d;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px; /* Adjusted spacing */
  align-items: right;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: right;
}

/* ================================================= */
/*Assests*/
/* ================================================= */

.crypto-exchange-img {
  display: flex;
  height: 600px;
  margin-top: 100px;
  margin-left: 100px;
  overflow-x: hidden;
}

/* ================================================= */
/*animation */
/* ================================================= */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Apply the animation to specific elements */
[data-animate="fadeIn"] {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

[data-animate="fadeOut"] {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

/* Add a class to trigger the fadeOut animation on scroll */
.fadeOutOnScroll {
  animation: fadeOut 1s ease-in-out forwards;
}

/* ================================================= */
/*media */
/* ================================================= */

/* smaller phone */
@media only screen (width < 0px) and (width > 480px) {
  /* ================================================= */
  /*Page1*/
  /* ================================================= */
  .land {
    display: flex;
    flex-direction: row;
  }

  .Landing-Page {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 200px;
  }
  .buy-trade {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .cryptocurrencies {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .phone {
    height: 200px;
    margin-top: 120px;
  }

  /* ================================================= */
  /*Page2*/
  /* ================================================= */
  .crypto-exchange {
    display: flex;
    flex-direction: column;
    background-color: #f1b94d;
  }
  .crypto-exchange-text {
    display: flex;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .crypto-exchange-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;

    line-height: normal;
  }
  .crypto-exchange-text p {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    color: var(--secondary-color);
    margin: 2px;
  }
  .crypto-exchange-img {
    width: 300px;
    height: 200px;
  }

  /* ================================================= */
  /*Page3*/
  /* ================================================= */
  .Why-Choose-Us {
    margin-bottom: 10px;
  }
  #Portfolio-text h1 {
    color: #373637;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 7px;

    text-align: center;
  }
  .why {
    flex-direction: column;
  }
}
/* Smartpohne and more*/
@media only screen and (width < 768px) {
  /* ================================================= */
  /*Page1*/
  /* ================================================= */
  .land {
    display: flex;
    flex-direction: row;
  }
  .Landing-Page {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .buy-trade {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .cryptocurrencies {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .phone {
    height: 400px;
    margin-top: 120px;

    margin-bottom: 100px;
  }

  /* ================================================= */
  /*Page2*/
  /* ================================================= */
  .crypto-exchange {
    display: flex;
    flex-direction: column;
    background-color: #f1b94d;
  }
  .crypto-exchange-text {
    display: flex;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .crypto-exchange-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;

    line-height: normal;
  }
  .crypto-exchange-text p {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    color: var(--secondary-color);
    margin: 2px;
  }
  .crypto-exchange-img {
    width: 400px;
    height: 300px;
  }

  /* ================================================= */
  /*Page3*/
  /* ================================================= */
  .Why-Choose-Us {
    margin-bottom: 10px;
  }
  #Portfolio-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 7px;

    text-align: center;
  }
  .why {
    flex-direction: column;
  }
}
/* Laptops more*/
@media only screen and (width < 1024) {
  /* ================================================= */
  /*Page1*/
  /* ================================================= */
  .land {
    display: flex;
    flex-direction: row;
  }
  .Landing-Page {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
  }
  .buy-trade {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .cryptocurrencies {
    color: #373637;
    font-family: "Roboto", sans-serif;

    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .phone {
    height: 400px;
    margin-top: 120px;
    margin-left: 500px;
    margin-bottom: 100px;
  }

  /* ================================================= */
  /*Page2*/
  /* ================================================= */
  .crypto-exchange {
    display: flex;
    flex-direction: row;

    background-color: #f1b94d;
  }
  .crypto-exchange-text {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 100px;
  }
  .crypto-exchange-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;

    line-height: normal;
  }
  .crypto-exchange-text p {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10px;
    margin: 2px;
  }
  .crypto-exchange-img {
    margin-bottom: 50px;
    width: 420px;
    height: 320px;
  }
  /* ================================================= */
  /*Page3*/
  /* ================================================= */
  .Why-Choose-Us {
    margin-bottom: 10px;
  }
  #Portfolio-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 7px;

    text-align: center;
  }
  .why {
    flex-direction: row;
  }
}
/* Laptops and larger */
@media only screen and (width < 1900px) {
  /* ================================================= */
  /*Page1*/
  /* ================================================= */
  .land {
    display: flex;
    flex-direction: row;
  }
  .Landing-Page {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 150px;
    margin-bottom: 10px;
  }
  .buy-trade {
    color: #373637;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    padding: 0;
    margin: 0;
  }
  .cryptocurrencies {
    color: #373637;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    padding: 0;
    margin: 0;
  }
  .phone {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
  }

  .start_trading-btn {
    font-size: 23px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    flex-shrink: 0;
    background: var(--gold, #f1b94d);
    margin-top: 15px;
    margin-left: 0px;
  }
  /* ================================================= */
  /*Page2*/
  /* ================================================= */
  .crypto-exchange {
    display: flex;
    flex-direction: row;

    background-color: #f1b94d;
  }
  .crypto-exchange-text {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 100px;
  }
  .crypto-exchange-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;

    line-height: normal;
  }
  .crypto-exchange-text p {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10px;
    margin: 2px;
  }
  .crypto-exchange-img {
    margin-bottom: 50px;
    width: 420px;
    height: 320px;
  }
  /* ================================================= */
  /*Page3*/
  /* ================================================= */
  .Why-Choose-Us {
    margin-bottom: 10px;
  }
  #Portfolio-text h1 {
    color: #373637;
    font-family: "Arial";
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 7px;

    text-align: center;
  }
  .why {
    flex-direction: row;
  }
}
