/* Styles for the logo */
.logo {
  position: fixed;
  width: 250px;
}

/* Styles for the form */
.Reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height instead of height */
}

/* Styles for the input fields */
#name,
#surname,
#email,
#password,
#title,
#country {
  text-align: center;
  width: 372px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(55, 54, 55, 0.3);
  margin: 5px;
}

.togglePassword {
  transform: translateY(-50%);
  cursor: pointer;
}

/* Styles for the Register button */
.Reg-btton {
  margin: 5px;
  padding: 5px;
  background-color: #f1b94d;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 372px;
  height: 40px;
  font-weight: bold;
}

/* Styles for the login-gold */
.login-gold {
  text-decoration: none;
  color: var(--gold, #f1b94d);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
}

/* Styles for the forgot link */
.forgot {
  color: var(--gold, #f1b94d);
}

/* Styles for the register-link */
.register-link p {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/* Styles for the login page */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Styles for the h1 */
h1 {
  color: #000;
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

/* Styles for the p */
p {
  color: var(--gold, #f1b94d);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/* Styles for the a */
a {
  text-decoration: none;
  color: var(--gold, #f1b94d);
}

/* Styles for the remember-forget */
.remember-forget {
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 372px;
  margin: 10px;
}

/* Styles for the Login-btn */
.Reg-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f1b94d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-Question {
  display: flex;
  align-items: center; /* Center items vertically within the login section */
}

.login-Question p {
  color: #000;
  font-family: Helvetica;
}

/* Styles for the forgot link */
.forgot {
  color: var(--gold, #f1b94d);
}

/* Styles for the register-link */
.register-link p {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/* Styles for the login page */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Styles for the p */
p {
  color: var(--gold, #f1b94d);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/* Styles for the a */
a {
  text-decoration: none;
  color: var(--gold, #f1b94d);
}

/* Styles for the remember-forget */
.remember-forget {
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 372px;
  margin: 10px;
}

/* Styles for the Login-btn */
.Reg-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f1b94d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
  /* Adjust the padding on the nav */
  nav {
    padding: 10px;
  }

  /* Adjust the width on the remember-forget section */
  .remember-forget {
    width: 100%;
  }
}
.confirm {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.confirm a {
  color: var(--gold, #4d4df1);
  text-decoration: underline;
}
