/*Welcome Page */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
/* logo placement and size*/
.logo {
  position: fixed;
  width: 250px;
}
/*login Page*/
.register-Question {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  padding-left: 100px;
  left: 80%;
  font-size: medium;
}
.register-gold {
  text-decoration: none;
  color: var(--gold, #f1b94d);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #000;
  font-family: Arial Nova;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  color: var(--gold, #f1b94d);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#email {
  text-align: center;
  width: 372px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(55, 54, 55, 0.3);
}
#password {
  text-align: center;
  width: 372px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(55, 54, 55, 0.3);
  margin: 10px;
}
.remember {
  color: #000;
  /* Hev Light */
  font-family: Helvetica Light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Login-button {
  width: 174px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  flex-shrink: 0;
  background: var(--gold, #f1b94d);
}
.forgot {
  color: #f1b94d;
}

/*Home page*/
.nav_bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.button-container a {
  text-decoration: none;
}

.Login-button-Home,
.Register-button-Home {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #f1b94d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 15px;
}

.Login-button-Home:hover,
.Register-button-Home:hover {
  background-color: #34495e;
  color: white;
}

.Login-button-Home:hover,
.Register-button-Home:hover {
  background-color: #34495e;
  color: white;
}

/* styles.css */
.Landing-Page {
  color: white;
  padding: 100px 0;
  text-align: center;
}

.buy-trade {
  font-size: 3rem;
  margin-bottom: 20px;
}

.cryptocurrencies {
  font-size: 2rem;
  margin-bottom: 40px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.Start-trading {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background-color: #f1b94d;
  color: #34495e;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Start-trading:hover {
  color: white;
}
