/* ================================================= */
/* Custom properties */
/* ================================================= */
:root,
.dark-mode {
  --page-bg: #fff;
  --primary-text: #3c3a47;
  --muted-text: #b1b0b5;
  --logo-fill: var(--primary-text);
  --input-bg: #f5f5f6;
  --input-bg-hover: #ecebed;
  --input-border-focus: var(--muted-text);
  --input-text: var(--primary-text);
  --input-placeholder: var(--muted-text);
  --button-text: #d19361;
  --button-text-hover: #faf4ef;
  --switch-bg: #f5f5f6;
  --switch-circle: #fff;
  --primary-color: #f1b94d;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  --accent-color: rgb(170, 161, 200);
  --font-family: "Roboto", sans-serif;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
/* ================================================= */
/* Scroll  */
/* ================================================= */
body::-webkit-scrollbar {
  display: none;
}

/* ================================================= */
/* General styles */
/* ================================================= */
.logo {
  position: absolute;
  width: 250px;
}
.nav
{
  margin-top: 10px;
  margin-right: 10px;
}
body {
  margin: 0;
  padding: 0;
}
.show {
  opacity: 1;
}
.hidden {
  opacity: 0;
  transition: all 0s ease-in-out;
}
/* ================================================= */
/*Dark modes mode */
/* ================================================= */


.nav-bar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  justify-content: space-between;
}
.nav-bar a {
  color: var(--Black, #373637);
  font-family: Arial Nova;
  font-style: normal;
  font-weight: bold;
}
/* Style for the nav-bar-menu */
.nav-bar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Style for nav-bar list items */
.nav-bar-menu li {
  font-size: 16px; /* Set font size */
  margin-right: 50px; /* Adjust spacing between items */
}

/* Style for nav-bar links */
.nav-bar-menu li a {
  text-decoration: none;
  color: #333; /* Default text color */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Change text color on hover */
.nav-bar-menu li a:hover {
  color: #f1b94d;
}
.top-cryptonow-title h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 5vh 0;
  color: var(--Black, #373637);
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
}
.top-cryptonow p {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-bottom: 10px;
  color: var(--Black, #373637);
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
}
.top-four {
  display: flex;
  justify-content: center; /* Align items to the start of the container */
  gap: 10px; /* Adjust the gap between .coin elements according to your preference */
  align-items: center;

  padding: 10vh 0 10vh 0;
  font-family: Arial;
}
.coin {
  border-radius: 10px;
  background: #fff;
  width: 272px;
  padding: 21px 23px;
  flex-wrap: wrap;
}
h2 {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding-bottom: 20px;
}
p {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-bottom: 20px;
  font-weight: 400;
}
.crypto {
  width: 1162px;
  height: 72px;
  margin-bottom: 10px; /* Increase the margin-bottom value for more spacing */
  display: flex;
  align-items: center; /* Align items vertically */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.crypto-logo {
  width: 40px; /* Adjust the width of the logo as needed */
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.crypto-name {
  font-size: 20px;
  font-weight: bold;
}

.crypto-price,
.crypto-percentage {
  font-size: 16px;
  padding: 10px;
}

.buy-btn,
.sell-btn {
  margin-left: auto; /* Push the buttons to the right side */
}

.crypto-logo {
  width: 40px; /* Adjust the width of the logo as needed */
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add some spacing between the logo and text */
}

.crypto-name {
  font-size: 20px;
  font-weight: bold;
}

.crypto-price,
.crypto-percentage {
  font-size: 16px;
  margin-bottom: 5px;
}

.buy-btn,
.sell-btn {
  margin-left: auto; /* Push the buttons to the right side */
}
.crypto-container {
  display: flex;
  flex-direction: column;
  height: 72px;
  align-items: center;
}
/* Style for the sort buttons */
.sort-options button {
  position: relative;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

/* Arrow shape for the up button */
.sort-container {
  background: var(--White, #fff);
  color: #000;
  display: flex;
  justify-content: center;

  /* Arial Bold */
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sort-options button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

#search-bar {
  flex-shrink: 0;
  border-radius: 30px;
  background: #dfdfdf;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
}

.buy-btn {
  border-radius: 57px;
  background: rgba(5, 255, 0, 0.04);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #3da83b;
  font-family: Arial;
}

.sell-btn {
  border-radius: 57px;
  background: rgba(5, 255, 0, 0.04);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial;

  background: rgba(255, 0, 0, 0.04);
}
