/* Coolors Exported Palette - https://coolors.co/f1b84c-000000-000000-fffd7c-000000 */

/* CSS HEX */
--xanthous: #F1B84Cff;
--black: #000000ff;
--black-2: #000000ff;
--icterine: #FFFD7Cff;
--black-3: #000000ff;

/* CSS HSL */
--xanthous: hsla(39, 85%, 62%, 1);
--black: hsla(0, 0%, 0%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--icterine: hsla(59, 100%, 74%, 1);
--black-3: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$xanthous: #F1B84Cff;
$black: #000000ff;
$black-2: #000000ff;
$icterine: #FFFD7Cff;
$black-3: #000000ff;

/* SCSS HSL */
$xanthous: hsla(39, 85%, 62%, 1);
$black: hsla(0, 0%, 0%, 1);
$black-2: hsla(0, 0%, 0%, 1);
$icterine: hsla(59, 100%, 74%, 1);
$black-3: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$xanthous: rgba(241, 184, 76, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 1);
$icterine: rgba(255, 253, 124, 1);
$black-3: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-right: linear-gradient(90deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-left: linear-gradient(270deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);
$gradient-radial: radial-gradient(#F1B84Cff, #000000ff, #000000ff, #FFFD7Cff, #000000ff);